<p id="notice"><%= notice %></p>

<h1>Lista de Usuarios</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Login</th>
      <!--<th>Senha</th>
      <th>Confimasenha</th>-->
      <th>Campus</th>
      <th>Perfil</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nome %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.telefone %></td>
        <td><%= usuario.login %></td>
        <!--<td><%= usuario.senha %></td>
        <td><%= usuario.confimaSenha %></td>-->
        <td><%= usuario.campus %></td>
        <td><%= usuario.perfil %></td>
        <td class="btn btn-default btn-sm"><%= link_to 'Exibir', [:admin,usuario] %></td>
        <td class="btn btn-default btn-sm"><%= link_to 'Editar', edit_admin_usuario_path(usuario) %></td>
        <td class="btn btn-default btn-sm"><%= link_to 'Apagar', [:admin,usuario], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Usuario', new_admin_usuario_path, class: 'btn btn-primary' %>
