<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p id="notice"><%= notice %></p>
</div>

<p>
  <strong>Nome:</strong>
  <%= @campu.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @campu.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @campu.numero %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @campu.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @campu.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @campu.uf %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @campu.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @campu.email %>
</p>

<%= link_to 'Editar', edit_campu_path(@campu) %> |
<%= link_to 'Voltar', campus_path %>
