<p id="notice"><%= notice %></p>

<h1>Lista de Eventos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Local</th>
      <th>Cronograma</th>
      <th>Contatos</th>
      <th>Inicio</th>
      <th>Fim</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= evento.nome %></td>
        <td><%= evento.descricao %></td>
        <td><%= evento.local %></td>
        <td><%= evento.cronograma %></td>
        <td><%= evento.contatos %></td>
        <td><%= evento.inicio %></td>
        <td><%= evento.fim %></td>
        <td class="btn btn-default btn-sm"><%= link_to 'Exibir', evento %></td>
        <td class="btn btn-default btn-sm"><%= link_to 'Editar', edit_evento_path(evento) %></td>
        <td class="btn btn-default btn-sm"><%= link_to 'Apagar', evento, method: :delete, data: { confirm: 'Esta certo disso?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Evento', new_evento_path, class: 'btn btn-primary'  %>
