<script type="text/javascript">
  
  var initialize;
  initialize = function() {
    var coord ="<%= @evento.local %>";
    var x = coord.split(",");
    var mapOptions = {
      center: new google.maps.LatLng(x[0],x[1]),
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
    mapOptions);
  }
  $(document).ready(initialize);
  $(document).on('page:load', initialize);
</script>


<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p id="notice"><%= notice %></p>
</div>


<p>
  <strong>Nome:</strong>
  <%= @evento.nome %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= image_tag @evento.foto.url %>
</p>


<p>
  <strong>Descricao:</strong>
  <%= @evento.descricao %>
</p>

<p>
  <strong>Local:</strong>
  <%= @evento.local %>
</p>

<div id="map-container">
  <div id="map-canvas"></div>
</div>

<p>
  <strong>Cronograma:</strong>
  <%= @evento.cronograma %>
</p>

<p>
  <strong>Contatos:</strong>
  <%= @evento.contatos %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= l @evento.inicio %>
</p>

<p>
  <strong>Fim:</strong>
  <%= l @evento.fim %>
</p>

<%= link_to 'Editar', edit_evento_path(@evento) %> |
<%= link_to 'Voltar', eventos_path %>
